<nz-page-header nzTitle="Story List"></nz-page-header>
<nz-page-header-subtitle>
  <p class="text-xl">Filter Story</p>
  <div class="d-flex align-items-center justify-end">
    <div class="my-2 w-1/3">
      <nz-input-group class="w-100">
        <input
          nz-input
          placeholder="Enter your keyword"
          [(ngModel)]="keyword"
        />
      </nz-input-group>
    </div>
    <button
      nz-button
      nzType="primary"
      class="ml-2"
      (click)="handleClickSearch()"
    >
      <span nz-icon nzType="search"></span>
    </button>
    <button nz-button nzType="default" class="ml-2" (click)="showModal()">
      <span nz-icon nzType="down"></span>
    </button>
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Advance Search"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
    >
      <ng-container *nzModalContent>
        <div class="grid grid-cols-2 gap-2">
          <nz-input-group>
            <input nz-input placeholder="Enter your title" />
          </nz-input-group>
          <nz-input-group>
            <input nz-input placeholder="Enter your id" />
          </nz-input-group>
          <nz-input-group>
            <input nz-input placeholder="Enter your author" />
          </nz-input-group>
          <nz-input-group>
            <input nz-input placeholder="Enter your illustrator" />
          </nz-input-group>
        </div>
      </ng-container>
    </nz-modal>
  </div>
</nz-page-header-subtitle>
<nz-page-header-content>
  <nz-page-header-extra class="float-right">
    <button
      nz-button
      nzType="primary"
      class="d-flex align-items-center"
      (click)="open()"
    >
      <span nz-icon nzType="plus"></span>
      Create
    </button>
    <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="visible"
      nzTitle="Create Story"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    >
      <form
        nz-form
        *nzDrawerContent
        nzLayout="vertical"
        [formGroup]="formCreateStory"
        (ngSubmit)="submitCreateStory()"
      >
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired="true">Title</nz-form-label>
              <nz-form-control nzErrorTip="Please input title">
                <input
                  nz-input
                  placeholder="Enter title"
                  formControlName="title"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired="true">Author</nz-form-label>
              <nz-form-control nzErrorTip="Please input author">
                <input
                  nz-input
                  placeholder="Enter author"
                  formControlName="author"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired="true">Illustrator</nz-form-label>
              <nz-form-control nzErrorTip="Please input illustrator">
                <input
                  nz-input
                  placeholder="Enter illustrator"
                  formControlName="illustrator"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired="true">Level</nz-form-label>
              <nz-form-control nzErrorTip="Please choose level">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select Level"
                  formControlName="level"
                >
                  <nz-option
                    *ngFor="let level of ['A', 'B', 'C', 'D', 'E', 'F']"
                    [nzValue]="level"
                    [nzLabel]="level"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired="true">Coin</nz-form-label>
              <nz-form-control nzErrorTip="Please input coin">
                <input
                  nz-input
                  placeholder="Enter coin"
                  formControlName="coin"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-badge [nzCount]="1">
              <button
                nz-button
                nzType="dashed"
                type="button"
                (click)="showModalUploadImage()"
              >
                <span>Upload image</span>
              </button>
            </nz-badge>
            <nz-modal
              [(nzVisible)]="isVisibleUploadImage"
              nzTitle="Upload Image"
              (nzOnCancel)="handleCancelUploadImage()"
              (nzOnOk)="handleOkUploadImage()"
            >
              <ng-container *nzModalContent>
                <nz-upload
                  nzAction="https://api.cloudinary.com/v1_1/dhhahwrmr/upload?upload_preset=ml_default"
                  (nzChange)="handleChangeUploadImage($event)"
                >
                  <button nz-button class="d-flex align-items-center">
                    <span nz-icon nzType="upload"></span>
                    Click to Upload
                  </button>
                </nz-upload>
              </ng-container>
            </nz-modal>
          </div>
          <div nz-col nzSpan="24" class="my-4">
            <nz-badge [nzCount]="2">
              <div class="w-[200px]">
                <img
                  nz-image
                  width="200px"
                  height="200px"
                  [nzSrc]="pathPageImage"
                  alt=""
                />
              </div>
            </nz-badge>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired="true">Image</nz-form-label>
              <nz-form-control nzErrorTip="Please choose image id">
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select Image"
                  formControlName="image_id"
                  [nzOptionHeightPx]="100"
                >
                  <nz-option
                    nzCustomContent
                    *ngFor="let image of images"
                    [nzValue]="image.id"
                    [nzLabel]="image.id"
                  >
                    <div class="w-[100px] h-[100px]">
                      <img [src]="image.path" alt="image bg page" />
                    </div>
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="primary">Create</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px" (click)="close()">
            Cancel
          </button>
        </div>
      </ng-template>
    </nz-drawer>
  </nz-page-header-extra>
  <nz-page-header-subtitle>
    <p class="text-xl">Danh sách story</p>
  </nz-page-header-subtitle>
  <div *ngIf="!isLoading; else loading">
    <div *ngIf="stories$ | async as stories">
      <table
        *ngIf="stories.length > 0; else nodata"
        class="table table-hover table-bordered w-100"
      >
        <thead>
          <tr class="text-center">
            <th scope="col" class="w-1">Story Id</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Content</th>
            <th scope="col">Pages</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let story of stories">
            <th class="text-center text-sm">[{{ story.id }}]</th>
            <td>
              <div class="max-h-[200px] rounded-md d-flex justify-center">
                <img
                  class="rounded-md"
                  [src]="story.image.path"
                  alt="thumbnail"
                  width="150"
                />
              </div>
            </td>
            <td>
              <table>
                <tr>
                  <td class="text-sm font-bold">Title :</td>
                  <td class="text-sm px-2 py-[2px]">{{ story.title }}</td>
                </tr>
                <tr>
                  <td class="text-sm font-bold">Level :</td>
                  <td class="text-sm px-2 py-[2px]">{{ story.level }}</td>
                </tr>
                <tr>
                  <td class="text-sm font-bold">Coin :</td>
                  <td class="text-sm px-2 py-[2px]">{{ story.coin }}</td>
                </tr>
                <tr>
                  <td class="text-sm font-bold">Author :</td>
                  <td class="text-sm px-2 py-[2px]">{{ story.author }}</td>
                </tr>
                <tr>
                  <td class="text-sm font-bold">Illustrator :</td>
                  <td class="text-sm px-2 py-[2px]">{{ story.illustrator }}</td>
                </tr>
                <tr>
                  <td class="text-sm font-bold">Created at :</td>
                  <td class="text-sm px-2 py-[2px]">
                    {{ story.created_at | date : "short" }}
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-bold">Updated at :</td>
                  <td class="text-sm px-2 py-[2px]">
                    {{ story.updated_at | date : "short" }}
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <div>
                <div
                  *ngFor="let page of story.pages"
                  class="bg-slate-200 p-2 rounded-md my-2"
                >
                  <table>
                    <tr>
                      <td class="text-xs font-bold">ID :</td>
                      <td class="text-xs px-2 py-[2px]">{{ page.id }}</td>
                    </tr>
                    <tr>
                      <td class="text-xs font-bold">Page Number :</td>
                      <td class="text-xs px-2 py-[2px]">
                        {{ page.page_number }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-center align-items-center">
                <button
                  nz-button
                  nzType="default"
                  nzShape="circle"
                  (click)="gotoDetailStory(story.id)"
                >
                  <span nz-icon nzType="select"></span>
                </button>
              </div>
              <div class="d-flex justify-center align-items-center mt-2">
                <button
                  nz-button
                  nzType="default"
                  nzShape="circle"
                  (click)="gotoPlayStory(story.id)"
                >
                  <span nz-icon nzType="play-circle" nzTheme="outline"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #nodata> <nz-empty></nz-empty> </ng-template>
  <ng-template #loading>
    <div class="d-flex justify-center align-items-center h-[200px]">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </ng-template>

  <div class="d-flex justify-center">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzTotal]="count$ | async"
      [nzPageSize]="perPageSize"
      nzShowSizeChanger
      [nzPageSizeOptions]="[2, 4, 8, 10]"
      (nzPageIndexChange)="handleChangePageIndex($event)"
      (nzPageSizeChange)="handleChangePerPageSize($event)"
    ></nz-pagination>
  </div>
</nz-page-header-content>
