<mat-toolbar color="warn" class="flex justify-content-between">
  <div class="d-flex align-items-center">
    <button
      mat-icon-button
      class="d-flex align-items-center"
      (click)="toggleDrawer()"
    >
      <mat-icon>{{ active ? "menu" : "arrow_back" }}</mat-icon>
    </button>
    <div class="font-medium text-xl">Monkey X</div>
  </div>
  <div>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
