<div *ngIf="story$ | async as story">
  <nz-page-header nzTitle="Story Detail"></nz-page-header>
  <nz-page-header-content class="grid grid-cols-1 gap-4">
    <div class="grid grid-cols-2 gap-2">
      <div>
        <nz-ribbon
          *ngIf="story.id"
          [nzText]="'ID ' + story.id.toString()"
          nzColor="red"
        >
          <nz-card
            class="w-100 grid grid-cols-1 gap-2"
            nzTitle="Story information"
          >
            <form
              nz-form
              [nzLayout]="'vertical'"
              [formGroup]="formStoryInfo"
              (ngSubmit)="submitStoryInfo()"
            >
              <nz-form-item>
                <nz-form-label nzRequired="true" class="font-bold"
                  >Title</nz-form-label
                >
                <nz-form-control nzErrorTip="Please input story title!">
                  <nz-input-group>
                    <input
                      formControlName="title"
                      nz-input
                      placeholder="Title"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <div class="grid grid-cols-2 gap-2">
                <nz-form-item>
                  <nz-form-label nzRequired="true" class="font-bold"
                    >Level</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Please input story level!">
                    <nz-input-group>
                      <input
                        formControlName="level"
                        nz-input
                        placeholder="Level"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired="true" class="font-bold"
                    >Coin</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Please input story Coin!">
                    <nz-input-group>
                      <input
                        formControlName="coin"
                        nz-input
                        placeholder="Coin"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="grid grid-cols-2 gap-2">
                <nz-form-item>
                  <nz-form-label class="font-bold">Created at</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input
                        nz-input
                        [placeholder]="story.created_at"
                        readonly
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label class="font-bold">Updated at</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input
                        nz-input
                        [placeholder]="story.updated_at"
                        readonly
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <nz-form-item>
                <nz-form-control>
                  <button
                    nz-button
                    nzType="primary"
                    [disabled]="!formStoryInfo.valid"
                  >
                    Update
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </nz-card>
        </nz-ribbon>
      </div>
      <div>
        <nz-card nzTitle="Information creator, illustrator">
          <form
            nz-form
            [nzLayout]="'vertical'"
            [formGroup]="formStoryCreator"
            (ngSubmit)="submitFormCreator()"
          >
            <div class="grid grid-cols-2 gap-2">
              <nz-form-item>
                <nz-form-label class="font-bold" nzRequired="true"
                  >Name creator</nz-form-label
                >
                <nz-form-control>
                  <nz-input-group>
                    <input nz-input formControlName="author" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label class="font-bold" nzRequired="true"
                  >Name illustrator</nz-form-label
                ><nz-form-control>
                  <nz-input-group>
                    <input nz-input formControlName="illustrator" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button
                    nz-button
                    nzType="primary"
                    [disabled]="!formStoryCreator.valid"
                  >
                    Update
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </nz-card>
      </div>
    </div>
    <div *ngIf="pages$ | async as pages">
      <nz-card nzTitle="Pages information" [nzExtra]="actionPage">
        <table class="table table-hover table-bordered w-100">
          <thead>
            <tr class="text-center">
              <th scope="col" class="w-1">Page Id</th>
              <th scope="col">Meta</th>
              <th scope="col">Content</th>
              <th scope="col">Interactions</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let page of pages" class="my-2">
              <th class="text-center text-sm">[{{ page.id }}]</th>
              <td>
                <table>
                  <tr>
                    <td class="text-sm font-bold">Number :</td>
                    <td class="text-sm px-2 py-[2px]">
                      {{ page.page_number }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-sm font-bold">Image id :</td>
                    <td class="text-sm px-2 py-[2px]">{{ page.image_id }}</td>
                  </tr>
                  <tr>
                    <td class="text-sm font-bold">Created at :</td>
                    <td class="text-sm px-2 py-[2px]">
                      {{ page.created_at | date : "short" }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-sm font-bold">Updated at :</td>
                    <td class="text-sm px-2 py-[2px]">
                      {{ page.updated_at | date : "short" }}
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr *ngFor="let text of page.texts; let i = index">
                    <td class="text-xs font-bold">Text[{{ i }}] :</td>
                    <td class="text-sm px-2 py-[2px]">
                      {{ text.text }}
                    </td>
                  </tr>
                </table>
              </td>
              <td class="font-bold text-center">
                {{ page.interactions_count }}
              </td>
              <td>
                <div class="d-flex justify-center">
                  <button nz-button nzType="default" nzShape="circle">
                    <span nz-icon nzType="select"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-center">
          <nz-pagination
            [nzPageIndex]="pageIndex"
            [nzTotal]="pageCount$ | async"
            [nzPageSize]="perPageSize"
            nzShowSizeChanger
            [nzPageSizeOptions]="[2, 4, 8, 10]"
            (nzPageIndexChange)="handleChangePageIndex($event)"
            (nzPageSizeChange)="handleChangePerPageSize($event)"
          ></nz-pagination>
        </div>
      </nz-card>
      <ng-template #actionPage>
        <div class="d-flex justify-center">
          <button
            nz-button
            nzType="default"
            nzShape="circle"
            (click)="gotoConfigPages(story.id)"
            class="mr-2"
          >
            <span nz-icon nzType="edit"></span>
          </button>
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            class="d-flex justify-center align-items-center"
            (click)="open()"
          >
            <span nz-icon nzType="plus"></span>
          </button>
          <nz-drawer
            [nzBodyStyle]="{ overflow: 'auto' }"
            [nzMaskClosable]="false"
            [nzWidth]="720"
            [nzVisible]="visible"
            nzTitle="Create"
            [nzFooter]="footerTpl"
            (nzOnClose)="close()"
          >
            <form
              nz-form
              *nzDrawerContent
              nzLayout="vertical"
              [formGroup]="formCreatePage"
              (ngSubmit)="handleSubmitFormCreatePage()"
            >
              <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label nzRequired="true">Page Number</nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        type="number"
                        placeholder="Page number"
                        formControlName="page_number"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24" class="mb-4">
                  <nz-badge [nzCount]="1">
                    <button
                      nz-button
                      nzType="dashed"
                      type="button"
                      (click)="showModal()"
                    >
                      <span>Upload image</span>
                    </button>
                  </nz-badge>
                  <nz-modal
                    [(nzVisible)]="isVisible"
                    nzTitle="Upload Image"
                    (nzOnCancel)="handleCancel()"
                    (nzOnOk)="handleOk()"
                  >
                    <ng-container *nzModalContent>
                      <nz-upload
                        nzAction="https://api.cloudinary.com/v1_1/dhhahwrmr/upload?upload_preset=ml_default"
                        (nzChange)="handleChange($event)"
                      >
                        <button nz-button class="d-flex align-items-center">
                          <span nz-icon nzType="upload"></span>
                          Click to Upload
                        </button>
                      </nz-upload>
                    </ng-container>
                  </nz-modal>
                </div>
                <div nz-col nzSpan="24" class="mb-4">
                  <nz-badge [nzCount]="2">
                    <div class="w-[200px] h-[200px]">
                      <img
                        nz-image
                        width="200px"
                        height="200px"
                        [nzSrc]="pathPageImage"
                        alt=""
                      />
                    </div>
                  </nz-badge>
                </div>

                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-badge [nzCount]="3">
                      <nz-form-label nzRequired="true">Images</nz-form-label>
                    </nz-badge>
                    <nz-form-control nzErrorTip="Please choose image id">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Select Image"
                        formControlName="image_id"
                        [nzOptionHeightPx]="100"
                        formControlName="image_id"
                      >
                        <nz-option
                          nzCustomContent
                          *ngFor="let image of images"
                          [nzValue]="image.id"
                          [nzLabel]="image.id"
                        >
                          <div class="w-[100px] h-[100px]">
                            <img [src]="image.path" alt="image bg page" />
                          </div>
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <button nz-button nzType="primary">Create</button>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </form>
            <ng-template #footerTpl>
              <div style="float: right">
                <button nz-button style="margin-right: 8px" (click)="close()">
                  Cancel
                </button>
              </div>
            </ng-template>
          </nz-drawer>
        </div>
      </ng-template>
    </div>
  </nz-page-header-content>
</div>
