<div *ngIf="dataLoaded; else loading">
  <div *ngIf="story$ | async as story">
    <app-header-content [label]="story.title"></app-header-content>
    <div class="grid grid-cols-1 gap-4" *ngIf="story.image">
      <div class="grid grid-cols-2 gap-4">
        <mat-card>
          <mat-card-header>
            <p class="text-sm font-bold">Story Information [{{ story.id }}]</p>
          </mat-card-header>
          <mat-card-content>
            <div class="grid grid-cols-1 pt-2">
              <mat-form-field class="w-100">
                <mat-label>Name story</mat-label>
                <input matInput [(ngModel)]="story.title" />
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Author</mat-label>
                <input matInput [(ngModel)]="story.author" />
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Illustrator</mat-label>
                <input matInput [(ngModel)]="story.illustrator" />
              </mat-form-field>
            </div>
            <mat-card-footer>
              <button mat-raised-button color="primary" class="float-right">
                Update
              </button>
            </mat-card-footer>
          </mat-card-content>
        </mat-card>
        <div>
          <mat-card>
            <mat-card-header
              ><p class="text-sm font-bold">
                Image [{{ story.image.id }}]
              </p></mat-card-header
            >
            <mat-card-content>
              <div class="grid grid-cols-1 pt-2">
                <mat-form-field class="w-100">
                  <mat-label>Path</mat-label>
                  <input matInput [(ngModel)]="story.image.path" />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Filename</mat-label>
                  <input matInput [(ngModel)]="story.image.filename" />
                </mat-form-field>
                <div class="grid grid-cols-2 gap-4">
                  <mat-form-field class="w-100">
                    <mat-label>Created At</mat-label>
                    <input
                      matInput
                      [value]="story.image.created_at | date : 'short'"
                    />
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <mat-label>Updated At</mat-label>
                    <input
                      matInput
                      [value]="story.image.updated_at | date : 'short'"
                    />
                  </mat-form-field>
                </div>
              </div>
              <mat-card-footer>
                <button mat-raised-button color="primary" class="float-right">
                  Update
                </button>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <mat-card class="position-relative">
        <div (click)="gotoStoryPageConfig(story.id)" class="action-card">
          <mat-icon class="text-md"> border_color</mat-icon>
        </div>
        <mat-card-header>
          <div class="text-sm font-bold">Pages [{{ story.pages.length }}]</div>
        </mat-card-header>
        <mat-card-content>
          <table class="table table-bordered mt-2">
            <thead class="text-center">
              <tr>
                <th scope="col" rowspan="2" class="w-1 text-sm">Number page</th>
                <th scope="col" colspan="2" class="w-3/5 text-sm">Content</th>
                <th scope="col" rowspan="2" class="text-sm">Image</th>
              </tr>
              <tr>
                <th class="text-sm font-bold w-1/3">Texts</th>
                <th class="text-sm font-bold">Interaction</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let page of story.pages">
                <th scope="row" class="text-center">
                  <p class="text-sm">Page {{ page.page_number }}</p>
                  <p class="text-sm">[{{ page.id }}]</p>
                </th>
                <td>
                  <app-page-text-col [texts]="page.texts"></app-page-text-col>
                </td>
                <td>
                  <app-page-interaction-col
                    [interactions]="page.interactions"
                  ></app-page-interaction-col>
                </td>
                <td class="text-sm text-center font-bold">
                  <mat-card>
                    <mat-card-header>
                      <p class="font-bold">Image ID [{{ page.image.id }}]</p>
                    </mat-card-header>
                    <mat-card-content class="text-xs">
                      <div class="d-flex align-items-center font-thin my-2">
                        <p class="font-bold">Filename :</p>
                        {{ page.image.filename }}
                      </div>
                      <div class="d-flex align-items-center font-thin my-2">
                        <p class="font-bold">Created at :</p>
                        {{ page.image.created_at | date : "short" }}
                      </div>
                      <div class="d-flex align-items-center font-thin my-2">
                        <p class="font-bold">Updated at :</p>
                        {{ page.image.updated_at | date : "short" }}
                      </div>
                      <div>
                        <div class="font-bold text-left">Path:</div>
                        <mat-form-field class="w-100">
                          <input
                            type="email"
                            matInput
                            [value]="page.image.path"
                            readonly="true"
                          />
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #loading>Loading .... </ng-template>
