<nz-page-header nzTitle="Story List"></nz-page-header>
<nz-page-header-subtitle>
  <p class="text-xl">Filter Story</p>
  <div class="d-flex align-items-center justify-end">
    <div class="my-2 w-1/3">
      <nz-input-group class="w-100">
        <input nz-input placeholder="Enter your keyword" />
      </nz-input-group>
    </div>
    <button nz-button nzType="primary" class="ml-2">
      <span nz-icon nzType="search"></span>
    </button>
    <button nz-button nzType="default" class="ml-2" (click)="showModal()">
      <span nz-icon nzType="down"></span>
    </button>
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Advance Search"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
    >
      <ng-container *nzModalContent>
        <div class="grid grid-cols-2 gap-2">
          <nz-input-group>
            <input nz-input placeholder="Enter your title" />
          </nz-input-group>
          <nz-input-group>
            <input nz-input placeholder="Enter your id" />
          </nz-input-group>
          <nz-input-group>
            <input nz-input placeholder="Enter your author" />
          </nz-input-group>
          <nz-input-group>
            <input nz-input placeholder="Enter your illustrator" />
          </nz-input-group>
        </div>
      </ng-container>
    </nz-modal>
  </div>
</nz-page-header-subtitle>
<nz-page-header-content>
  <nz-page-header-subtitle>
    <p class="text-xl">Danh sách story</p>
  </nz-page-header-subtitle>
  <table
    *ngIf="stories$ | async as stories"
    class="table table-hover table-bordered w-100"
  >
    <thead>
      <tr class="text-center">
        <th scope="col" class="w-1">Story Id</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Content</th>
        <th scope="col">Pages</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let story of stories">
        <th class="text-center text-sm">[{{ story.id }}]</th>
        <td>
          <div class="max-h-[200px] rounded-md d-flex justify-center">
            <img
              class="rounded-md"
              [src]="story.image.path"
              alt="thumbnail"
              width="150"
            />
          </div>
        </td>
        <td>
          <table>
            <tr>
              <td class="text-sm font-bold">Title :</td>
              <td class="text-sm px-2 py-[2px]">{{ story.title }}</td>
            </tr>
            <tr>
              <td class="text-sm font-bold">Level :</td>
              <td class="text-sm px-2 py-[2px]">{{ story.level }}</td>
            </tr>
            <tr>
              <td class="text-sm font-bold">Coin :</td>
              <td class="text-sm px-2 py-[2px]">{{ story.coin }}</td>
            </tr>
            <tr>
              <td class="text-sm font-bold">Author :</td>
              <td class="text-sm px-2 py-[2px]">{{ story.author }}</td>
            </tr>
            <tr>
              <td class="text-sm font-bold">Illustrator :</td>
              <td class="text-sm px-2 py-[2px]">{{ story.illustrator }}</td>
            </tr>
            <tr>
              <td class="text-sm font-bold">Created at :</td>
              <td class="text-sm px-2 py-[2px]">
                {{ story.created_at | date : "short" }}
              </td>
            </tr>
            <tr>
              <td class="text-sm font-bold">Updated at :</td>
              <td class="text-sm px-2 py-[2px]">
                {{ story.updated_at | date : "short" }}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <div>
            <div
              *ngFor="let page of story.pages"
              class="bg-slate-200 p-2 rounded-md my-2"
            >
              <table>
                <tr>
                  <td class="text-xs font-bold">ID :</td>
                  <td class="text-xs px-2 py-[2px]">{{ page.id }}</td>
                </tr>
                <tr>
                  <td class="text-xs font-bold">Page Number :</td>
                  <td class="text-xs px-2 py-[2px]">{{ page.page_number }}</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex justify-center">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              (click)="gotoDetailStory(story.id)"
            >
              <span nz-icon nzType="select"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-center">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzTotal]="count$ | async"
      [nzPageSize]="perPageSize"
      nzShowSizeChanger
      [nzPageSizeOptions]="[2, 4, 8, 10]"
      (nzPageIndexChange)="handleChangePageIndex($event)"
      (nzPageSizeChange)="handleChangePerPageSize($event)"
    ></nz-pagination>
  </div>
</nz-page-header-content>
