<div *ngIf="pages$ | async as pages">
  <mat-toolbar>
    <p>Config Object</p>
  </mat-toolbar>
  <mat-card class="mt-2">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab
          class="font-bold"
          *ngFor="let page of pages"
          [label]="'Trang ' + page.page_number.toString()"
        >
          <div class="my-4">
            <mat-card>
              <mat-card-content class="h-[1000px]">
                <app-config-page></app-config-page>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
